<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>socialNetWork</title>


</head>
<body>
    <section class="hero is-small is-success mb-4">
        <div class="hero-body">
            <h1 class="title is-1"><a href="{% url 'socialNetWork:dashboard' %} ">SocialNetWork</a></h1>
            <p class="subtitle is-4">
                Anti-social social club
            </p>
            {% if request.user.is_anonymous == False%}
        <span>Hello, {{request.user}}</span>
        <span><a href="{% url 'socialNetWork:logout' %}">Logout</a></span>

    {% endif %}
        </div>
    </section>

    <div class="container">
    <div>
        {% block content %}

        {% endblock content %}
    </div>
    </div>
</body>
</html>